@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwind.css";

@source "./";

@theme {
  --font-quicksand: "Quicksand", serif;
}

@layer base {
  body {
    font-family: var(--font-quicksand);
  }
}

@layer components {
  .menu-item {
    @apply relative flex h-full items-center p-4 cursor-pointer font-bold text-pink-200 hover:text-zinc-200 hover:bg-white/10 transition-colors ease-in-out;
  }
}
